"*":
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "teletype"
    ]
    projectHome: "/Users/jeremyhou/work"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 13
    lineHeight: 1.3
  "exception-reporting":
    userId: "83fd4c88-1e49-4086-843f-d22e1f09348d"
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".basic.html.text":
  editor:
    tabLength: 4
    tabType: "soft"
".console.python.text":
  editor:
    tabLength: 4
".css.less.source":
  editor:
    tabLength: 4
".html.mako.text":
  editor:
    tabLength: 4
    tabType: "soft"
".js.regexp.replacement.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
".js.regexp.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
".js.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
".python.regexp.source":
  editor:
    tabType: "soft"
".python.source":
  editor:
    tabType: "soft"
".python.text.traceback":
  editor:
    tabLength: 4
