# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'.source.python':
  'pdb':
    'prefix': 'pdb'
    'body': 'import pdb; pdb.set_trace()'


'.source.html':
  'data-selenium-testing':
    'prefix': 'dst'
    'body': 'data-selenium-testing=""'

'.source.js':
  ## Angular-specific helpers
  '$timeout':
    'prefix': 'to'
    'body': """
        $timeout(${2:function() {$1\\}}$3)
    """
  '$scope Method':
    'prefix': 'smeth'
    'body': """
        ${1:/**
         * @name $scope.${2:methodName}
         * @function
         * @memberOf ${3:ParentClass}
         * @description ${4:Method description} ${5:
         * @returns \\{${6:return type e.g. int}\\}} ${7:
         * @param \\{${8:Param type e.g. int}\\} ${9:Param name} - ${10:Param description}}
         */}
        $scope.${2:methodName} = function(${11:params}) {
            ${12:// code goes here!}
        }
    """
  'Method':
    'prefix': 'meth'
    'body': """
        ${1:/**
         * @name ${2:methodName}
         * @function
         * @memberOf ${3:ParentClass}
         * @description ${4:Method description} ${5:
         * @returns \\{${6:return type e.g. int}\\}} ${7:
         * @param \\{${8:Param type e.g. int}\\} ${9:Param name} - ${10:Param description}}
         */}
        function ${2:methodName}(${11:params}) {
            ${12:// code goes here!}
        }
    """
